@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'bebas';
    src: url('/fonts/bebas-neue.woff2');
  }
  @font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto-regular.woff2');
  }
}
